<html>
    <head>
        <link rel="stylesheet" href="~/reveal.js/css/reveal.css">
        <link rel="stylesheet" href="~/reveal.js/css/theme/white.css">
    </head>
    <body>
        <div class="reveal">
            <div class="slides">
              <section>Slide 1</section>
                <h1>This is a topic</h1>
              <section>Slide 2</section>
                <h1>This is another topic </h1>
            </div>
        </div>
        <script src="~/reveal.js/js/reveal.js"></script>
        <script>
            Reveal.initialize();
        </script>
    </body>
</html>
